<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGna_79MUQfD8UrsbauEARHjlVo8CBLo0</string>
	<key>GCM_SENDER_ID</key>
	<string>153824859247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.threadCloneApp</string>
	<key>PROJECT_ID</key>
	<string>threads-clone-3431c</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-clone-3431c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153824859247:ios:a4c859bbbca967a99ce99a</string>
</dict>
</plist>